{%extends 'rango/base.html'%}
{% load staticfiles %}

{%block body_block%}
        
        <h1>Rango says...</h1>>
        <div>
            {% if user.is_authenticated %}
                howdy {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}
            <p>visits: {{ visits }} times</p>
        </div>

        <strong>Most Liked Categories</strong>
        <div>
            {% if categories %} 
            <ul>
            {% for category in categories %} 
            <li>
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %} 
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %} 
        </div>
        <strong>Most Viewed Pages</strong>
        <div>
                {% if pages %} 
                <ul>
                {% for page in pages %} 
                <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %} 
                </ul>
                {% else %}
                <strong>There are no pages present.</strong>
                {% endif %} 
            </div>

        <div>
            <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
        </div>>
{%endblock%}      


 
        